*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
   
    /* background-color: #70c5ce; */
    background-image: url(./img/flappybirdbg.png);
}